<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Website</title>
  </head>
  <body>
    <div class="container">
      <h2>Find nearest Storage up to you!</h2>
      <form action="<%= distance_path %>" method="GET" class="d-flex">
        <input name="ip"class="form-control me-2" type="search" placeholder="Enter manually your ip" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Find</button>
      </form>
      <h4 style="text-align:center;">Your ip: <%= @ip %></h4> 
    </div>
  </body>
</html>
